<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mart Management</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url('../../wave.svg') !important;
            background-size: auto !important;
            background-repeat: no-repeat;
            background-position: bottom !important;
            min-height: 100vh !important;
        }

        table {
            width: -webkit-fill-available !important;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mart Management", "List", "Item", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*@if (User.Identity.IsAuthenticated)
                    {*@
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sub Categorys", "List", "SubCategory")</li>
                    <li>@Html.ActionLink("Categorys", "List", "Category")</li>
                    <li>@Html.ActionLink("Items", "List", "Item")</li>
                    <li>@Html.ActionLink("Stocks", "List", "Stock")</li>
                    <li>@Html.ActionLink("Payment Type", "List", "PaymentType")</li>
                    <li>@Html.ActionLink("Customer", "List", "Customer")</li>
                    <li>@Html.ActionLink("Order", "List", "Order")</li>
                    @*<li>@Html.ActionLink("Logout", "LogOff", "Account")</li>*@
                    @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                        }*@
                </ul>
                @*}
                    else
                     {
                         @Html.Partial("_LoginPartial")
                     }*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright &copy; @DateTime.Now.Year - Mart Management. All Rights Reserved.  </p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
</body>
</html>
