@model IEnumerable<MartManagement.BOL.PaymentType>

@{
    ViewBag.Title = "List";
}

@if (TempData["SuccessMsg"] != null)
{
    <br />
    <div class="alert alert-dismissable alert-success">
        @TempData["SuccessMsg"].ToString() <p class="pull-right">&times;</p>
    </div>
}
@if (TempData["ErrorMsg"] != null)
{
    <br />
    <div class="alert alert-dismissable alert-danger">
        @TempData["ErrorMsg"].ToString() <p class="pull-right">&times;</p>
    </div>
}
<h2>Payment Type List</h2>
<p>
    @Html.ActionLink("Create Item", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType_Name)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentType_Id }, htmlAttributes: new { @class = "btn btn-success btn-sm" }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentType_Id }, htmlAttributes: new { @class = "btn btn-info btn-sm" })
        </td>
    </tr>
}
</table>
