@model IEnumerable<MartManagement.BOL.PaymentType>

@{
    ViewBag.Title = "List";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
@if (TempData["SuccessMsg"] != null)
{
    <br />
    <div class="alert alert-dismissable alert-success">
        @TempData["SuccessMsg"].ToString() <p class="pull-right">&times;</p>
    </div>
}
@if (TempData["ErrorMsg"] != null)
{
    <br />
    <div class="alert alert-dismissable alert-danger">
        @TempData["ErrorMsg"].ToString() <p class="pull-right">&times;</p>
    </div>
}
<h2>Payment Type List</h2>
<p>
    @Html.ActionLink("Create Payment Type", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-condensed table-hover" id="demoGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType_Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PaymentType_Id }, htmlAttributes: new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Details", "Details", new { id = item.PaymentType_Id }, htmlAttributes: new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#demoGrid').dataTable({
    });
</script> 