@model IEnumerable<MartManagement.BOL.Order>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_FinalTotal)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_FinalTotal)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Order_Id }, htmlAttributes: new { @class = "btn btn-info btn-sm" })
        </td>
    </tr>
}

</table>
