@model IEnumerable<MartManagement.BOL.SubCategory>

@{
    ViewBag.Title = "Sub Category List";
}

<h2>Sub Category List</h2>
@if (TempData["SuccessMsg"] != null)
{
    <br /><br />
    <div class="alert alert-dismissable alert-success">
        @TempData["SuccessMsg"].ToString() <p class="pull-right">&times;</p>
    </div>
}
@if (TempData["ErrorMsg"] != null)
{
    <br /><br />
    <div class="alert alert-dismissable alert-danger">
        @TempData["ErrorMsg"].ToString() <p class="pull-right">&times;</p>
    </div>
}
<p>
    @Html.ActionLink("Create Subcategory", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubCategory_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubCategory_Id })
        </td>
    </tr>
}

</table>
